<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express & TS</title>
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body class="space-y-20 text-[rgb(40,54,24)] font-body">
<header class="relative h-screen px-12 py-5 text-white">
    <div
            class="absolute inset-0 z-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="
					background-image: url('images/background/indian-dhal-spicy-curry-bowl-spices-herbs-rustic-black-wooden-table.jpg');
				"
    ></div>
    <nav
            class="z-1 relative flex h-fit w-full items-center justify-between font-body"
    >
        <div class="bg-[rgba(0,0,0,0.3)] rounded-full p-4">
            <img class="w-80" src="images/icons/brand/brand.png" alt="brand">
        </div>
        <ul class="text-md flex gap-16 font-bold">
            <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">About us</li>
            <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">Explore recipes</li>
            <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">Popular recipes</li>
            <li
                    class="rounded-full bg-[rgb(96,107,55)] p-2 px-8 grid place-content-center"
            >
                My Good food
            </li>
        </ul>
    </nav>

    <h1
            class="z-1 relative mt-32 w-2/5 rounded-lg font-heading text-7xl font-bold"
    >
        Stop waisting your <br />
        <span class="text-[#F05D23]">time</span> while thinking <br />
        what
        <span class="text-[#F05D23]">to cook...</span>
    </h1>
    <p class="z-1 relative mt-6 text-3xl font-thin">
        Find Your perfect dish and cook it <br />
        simply and quickly!
    </p>
    <button
            class="z-1 relative mt-20 rounded-full bg-[#F05D23] p-4 px-40 font-body font-bold tracking-wider"
    >
        Find Recipes
    </button>
</header>

<section class="space-y-24 text-center">
    <h1 class="font-heading text-6xl font-bold tracking-tight">
        How it works <span class="font-normal">?</span>
    </h1>
    <ul class="flex justify-evenly">
        <% ["Open your fridge!", "Choose a recipe", "Enjoy your dish"].map(title => { %>
            <li class="relative max-w-xs space-y-4 before:absolute before:inset-0 before:h-full before:w-full before:-translate-y-32 before:text-[15vw] before:font-bold before:text-[rgba(0,0,0,0.05)] before:content-[counter(li,decimal-leading-zero)]"
                style="counter-increment: li"
            >
                <h3 class="text-2xl font-bold font-heading"><%= title; %></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusantium consequuntur dignissimos dolor
                    doloribus exercitationem necessitatibus nisi odit
                    repudiandae. Atque dolore esse quidem reiciendis velit
                    veritatis! Adipisci earum fuga quisquam ut.
                </p>
            </li>
        <% }) %>
    </ul>

    <button
            class="z-1 relative mt-20 rounded-full bg-[rgb(188,108,37)] p-4 px-40 font-body font-bold tracking-wider text-white"
    >
        Find Recipes
    </button>
</section>
<section
        class="bg-cover py-20 text-center text-white "
        style="
				background-image: url('images/food/chicken-skewers-with-slices-sweet-peppers-dill.jpg');
			"
>
    <h1 class="font-heading text-7xl font-bold">Explore Recipes</h1>
    <p class="mt-6 text-xl">
        Search recipe by pasting the name of the ingredient
    </p>

    <!--    Search bar-->
    <form
            action="#"
            method="GET"
            class="relative mx-auto mt-20 flex max-w-[50%] items-center gap-x-4 rounded-[2rem] bg-white p-4 pl-7 shadow-2xl"
    >
        <label
                for="ingredient"
                class="flex w-12 cursor-pointer items-center"
        >
            <%- include("../components/icons/ui/actions/magnifying-glass", {containerClass: "w-10", svgClass: "fill-amber-600 w-full h-full"}) -%>
        </label>
        <input
                class="flex h-full w-full flex-shrink flex-grow basis-[25rem] border-none bg-white text-xl text-black outline-0 placeholder:text-xl placeholder:text-[rgba(251,191,36,0.6)] focus:outline-none"
                type="text"
                id="ingredient"
                placeholder="What do you have in fridge?"
        />
        <button
                class="absolute right-0 cursor-pointer rounded-3xl bg-[rgb(188,108,37)] p-6 px-16 text-center font-bold shadow-[-5px_0px_15px_0px_rgba(0,0,0,0.75)]"
                type="submit"
        >
            Find recipe
        </button>
    </form>
</section>

<section class="text-center space-y-7 px-20">
    <h1 class="text-7xl font-bold font-heading">Categories</h1>
    <p class="text-xl ">A large selection of dishes for cooking</p>
    <ul class="flex gap-16 justify-center pt-4">
        <% [
                { svg: "bread-slice", text: "breakfast" },
                        { svg: "drumstick-bite", text: "lunch" },
                        { svg: "bowl-rice", text: "dinner" },
                        { svg: "cake-candles", text: "dessert" },
                        { svg: "coffee", text: "drinks" },
                        { svg: "bowl-rice", text: "soups" },
                        { svg: "burger", text: "fast food" },
                        { svg: "shrimp", text: "seafood" }
                ].forEach(x => { %>
            <li class="flex flex-col gap-4 items-center justify-center">
                <%- include(`../components/icons/food/${x.svg}`, {
                containerClass: "w-28 h-28 rounded-full p-7 bg-[rgb(188,108,37)] shadow-[inset_-5px_5px_5px_rgba(255,255,255,0.5)] relative before:absolute before:w-full before:h-full before:-z-1 before:shadow-2xl before:rounded-full before:inset-0",
                svgClass:"fill-white h-full w-full"
                }) -%>
                <span class="font-body capitalize font-[550] ">
                    <%= x.text %>
                </span>
            </li>
        <% }) %>

    </ul>
</section>

<section class="text-center space-y-8">
    <h1 class="text-7xl font-bold tracking-tight font-heading">Recommendations</h1>
    <div class="flex gap-32 justify-center items-center pt-8">
        <button>
            <%- include("../components/icons/ui/arrow-left", {containerClass: "w-10", svgClass: "h-full w-full fill-[rgb(40,24,24)]"}) -%>
        </button>
        <div class="flex justify-center gap-12">
            <% ["pexels-ash-376464.jpg", "pexels-chan-walrus-958545.jpg", "pexels-chevanon-photography-323682.jpg", "pexels-chokniti-khongchum-2280545.jpg"].forEach(pic => { %>
                <div class="w-60 overflow-hidden text-center space-y-3 font-body font-[550]">
                    <div class="bg-cover text-white bg-center w-60 h-60 px-4 pb-5 flex items-end justify-between rounded-[2.5rem] text-sm"
                         style="background-image: url('images/food/<%= pic %>')">
                        <div class="flex justify-start gap-1 items-center rounded-full p-1 px-3 bg-[rgba(0,0,0,0.3)]"
                             style="text-shadow: 1px 1px 3px #000">
                            <%- include("../components/icons/reactions/heart", {containerClass: "h-5 w-5", svgClass: "h-full w-full fill-white drop-shadow-xl"}) -%>
                            5.2k
                        </div>
                        <div class="flex justify-start gap-1 items-center rounded-full p-1 px-3 bg-[rgba(0,0,0,0.3)]"
                             style="text-shadow: 1px 1px 3px #000">
                            <%- include("../components/icons/ui/clock", {containerClass: "h-5 w-5", svgClass: "h-full w-full fill-white drop-shadow-xl"}) -%>
                            25min
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            <% }) %>

        </div>
        <button>
            <%- include("../components/icons/ui/arrow-right", {containerClass: "w-10", svgClass: "h-full w-full fill-[rgb(40,24,24)]"}) -%>
        </button>
    </div>
</section>

<%- include("../components/layout/footer") -%>
</body>
</html>
