<article class="w-80 h-fit rounded-xl shadow-xl pb-4">
    <div
            class="bg-cover bg-center flex flex-col justify-between p-6 h-80 rounded-tl-xl rounded-tr-xl"
            style="background-image: url('<%= bgImage %>')"
    >
        <div class="w-fit px-4 py-1 border border-selected-mehandi rounded-full text-white bg-selected-mehandi capitalize">
            <%= region %>
        </div>
        <p class="w-fit rounded-full font-bold px-4 py-2 bg-[rgba(0,0,0,0.1)] text-white lowercase">
            <%= time %>
        </p>
    </div>
    <div class="p-4 px-6 space-y-2">

        <!-- Rating Star div -->
        <div class="flex justify-start gap-2">
            <!-- Filled Stars-->
            <% Array(stars).fill("").forEach(_ => { %>
                <%- include("../Icons/Reactions/StarSolid", {containerClass: "", svgClass: "w-5 fill-amber-600"}) -%>
            <% }) %>

            <!-- Unfilled Stars-->
            <% Array(5 - (+`${stars}`)).fill("").forEach(_ => { %>
                <%- include("../Icons/Reactions/StarRegular", {containerClass: "", svgClass: "w-5 fill-amber-600"}) -%>
            <% }) %>
        </div>

        <h1 class="text-black text-3xl capitalize"><%= title %></h1>
        <div class="flex justify-between items-center">
            <p class="text-selected-mehandi text-lg">12 ingredients</p>
            <%- include("../Icons/UI/Actions/BookmarkRegular", {containerClass: "", svgClass: "w-5 fill-gray-400"}) -%>
        </div>
    </div>
</article>