<li class="w-60 overflow-hidden text-center space-y-3 font-body font-[550]">
    <div
            class="bg-cover text-white bg-center w-60 h-60 px-4 pb-5 flex items-end justify-between rounded-[2.5rem] text-sm"
            style="background-image: url('<%= image; %>')"
    >
        <div
                class="flex justify-start gap-1 items-center rounded-full p-1 px-3 bg-[rgba(0,0,0,0.3)]"
                style="text-shadow: 1px 1px 3px #000"
        >
            <%- include("../Icons/Reactions/Heart", { containerClass: "h-5 w-5", svgClass: "h-full w-full fill-white drop-shadow-xl" }) -%>
            <%= bookmarkCount; %>
        </div>
        <div
                class="flex justify-start gap-1 items-center rounded-full p-1 px-3 bg-[rgba(0,0,0,0.3)]"
                style="text-shadow: 1px 1px 3px #000"
        >
            <%- include("../Icons/UI/Clock", { containerClass: "h-5 w-5", svgClass: "h-full w-full fill-white drop-shadow-xl" }) -%>
            <%= totalTime %>
        </div>
    </div>
    <p><%= desc %></p>
</li>