<!-- TODO: Make this a link, you get an id of the recipe -->
<div class="shadow-xl snap-center rounded-xl overflow-hidden font-heading cursor-pointer flex flex-col justify-items-stretch w-[17.5rem]"
     title="<%= title %>"
     onclick="location.href='/r/<%= id; %>';"
>
    <div class="bg-cover bg-center min-h-[16rem] flex flex-col justify-between p-6"
         style="background-image: url('<%= image; %>')"
    >
        <p class="w-fit px-4 py-1 bg-selected-mehandi rounded-full text-white capitalize"><%= region %></p>
        <p class="w-fit rounded-full font-bold px-4 py-2 bg-[rgba(0,0,0,0.4)] text-white">
            <% if (totalTime > 3600) { %>
                <%= Math.floor(totalTime / 3600) %> hours <%= Math.round((totalTime % 3600) / 60) %>
            <% } else { %>
                <%= Math.round(totalTime / 60) %> mins
            <% } %>
        </p>
    </div>
    <div class="py-4 px-6 space-y-2">
        <!-- Rating Star div -->
        <div class="flex gap-2">
            <!-- Filled Stars-->
            <% Array(stars).fill("").forEach(_ => { %>
                <%- include("../Icons/Reactions/StarSolid", {containerClass: "", svgClass: "w-5 fill-amber-600"}) -%>
            <% }); %>

            <!-- Unfilled Stars-->
            <% Array(5 - (+`${stars}`)).fill("").forEach(_ => { %>
                <%- include("../Icons/Reactions/StarRegular", {containerClass: "", svgClass: "w-5 fill-amber-600"}) -%>
            <% }); %>
        </div>

        <h1 class="text-black text-2xl capitalize"><%= title; %></h1>
        <div class="flex justify-between items-center">
            <p class="text-selected-mehandi text-base"><%= noOfIngredient %> ingredients</p>
            <% if (bookmarked) { %>
                <%- include("../Icons/UI/Actions/BookmarkSolid", { containerClass: "", svgClass: "w-5 fill-selected-mehandi" }) -%>
            <% } else { %>
                <%- include("../Icons/UI/Actions/BookmarkRegular", { containerClass: "", svgClass: "w-5 fill-gray-400"}) -%>
            <% } %>
        </div>
    </div>
</div>
