<%- include("../../components/UI/HeadIncluder", { titleOfPage: "Create Recipe", linkJS: "recipe-create" }) -%>
<body>
<%- include("../../components/Layout/Header", { user, dropdownOption: "Recipe" }) -%>

<form action="/r/create" method="POST" class="space-y-16 mb-28">
    <div id="recipe-bg"
         class="relative bg-cover bg-center flex flex-col justify-end px-[10%] py-16 gap-28 min-w-full min-h-[32rem]">
        <%- include("../../components/PageWiseComponents/CreateRecipeComp/HeadingCard") -%>
        <input class="text-lg w-80 absolute right-1/4 top-1/2 rounded-full ring-2 ring-amber-700 p-2 px-4"
               placeholder="Recipe Image URL: "
               name="image"
               type="text"
        />
    </div>

    <section class="px-[10%] space-y-12">
        <%- include("../../components/PageWiseComponents/CreateRecipeComp/Tags") -%>
        <div class="flex justify-between">
            <div class="flex flex-col gap-12 justify-between">
                <%- include("../../components/PageWiseComponents/CreateRecipeComp/Ingredient") -%>
                <%- include("../../components/PageWiseComponents/CreateRecipeComp/NutritionalPerServing") -%>
            </div>
            <%- include("../../components/PageWiseComponents/CreateRecipeComp/Directions") -%>
        </div>
    </section>

    <div class="text-center">
        <%- include("../../components/UI/Button", { id: "", type: "s", text: "Post your Recipe" }) -%>
    </div>

</form>

<%- include("../../components/Layout/Footer") -%>
</body>
</html>